<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Découvrez notre collection exclusive de montres de luxe et de mode. Achetez en ligne des montres élégantes et sophistiquées pour hommes et femmes. Profitez de nos offres spéciales et livraison rapide.">
    <meta name="keywords"
        content="montres, montres de luxe, montres de mode, montres pour hommes, montres pour femmes, acheter montres en ligne, montres élégantes, montres sophistiquées, montres modernes, boutique de montres">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MAGANA</title>
</head>

<body>
    <main class="md:mx-32 flex  flex-wrap md:flex-nowrap ">
        <section class="dt-watch-side grid grid-cols-3 md:w-1/2">
            <div id="dt-main-image" class="col-span-3 w-full ">
                <img src="../assets/images/Product/CasioMens.jpg" alt="L'image principale de la montre">
            </div>
            <div id="dt-small-image-one">
                <img src="../assets/images/Product/CasioMens1.jpg" alt="La premiere image complémentaire de la montre ">
            </div>
            <div id="dt-small-image-two">
                <img src="../assets/images/Product/CasioMens2.jpg" alt="La deuxieme image complémentaire de la montre ">
            </div>
            <div id="dt-small-image-three">
                <img src="../assets/images/Product/CasioMens3.jpg" alt="La troisieme image complémentaire de la montre ">
            </div>
        </section>
        
    </main>
    <script src="details.js"></script>
</body>

</html>