<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="../assets/css/global.css">
</head>
<body>
	<header>
		<nav>
		</nav>
	</header>
	<main>
		<section class="w-80 h-lvh bg-white fixed right-0 flex flex-col items-center" 
		id="panierid">
			<div class="flex justify-between w-11/12 mt-2 border-0 border-b-2 h-14 items-center">
				<label> Shopping cart</label>
				<button onclick="fermepanier()"> X</button>
			</div>
			<article class="flex w-full mb-10" >
				<img src="im.jpg" class=" w-20 ">
				<p class=" ml-2 text-blue-500 w-auto"> Princess bed skirt Lace</p> 
				<p class="absolute right-8 mt-4  text-orange-500">X </p>
				<p class=" absolute mt-20 right-8">Subtotal: $2,160.00</p>
				<p class="absolute  mt-8 right-14 ">4 × $540.00</p>
			</article>
			<article class="w-11/12" >
				<div> 
				</div>
				<div class="flex flex-row justify-between w-full text-white">
					<button class="bg-orange-500 w-20 ml-3 rounded-xl h-8 on" onclick="panier.html">View cart </button>
					<button class="bg-orange-500 mr-3 w-20 rounded-xl">Checkout</button>
				</div>
			</article>
		</section>
		<section class="flex md:flex-col  flex-col justify-center items-center">
			<article class="flex flex-col  md:flex-row justify-center items-center  md:w-11/12 w-full">

				<div class="w-11/12 border-2 h-14 md:h-32 md:justify-center md:w-3/12 flex  items-center">
					<p class="ml-3 md:ml-0 md:justify-center text-red-500 hover:text-white text-xl font-serif md:text-center hover:bg-red-500 rounded-3xl w-5" onclick=""> X </p>
				</div>
				<div class="w-10/12  border-2 h-14 md:h-32 justify-center items-center md:border-l-0 md:flex hidden">
					<img src="./im.jpg" class="w-7/12 h-5/6">
				</div>
				<div class="w-11/12 h-14 flex justify-between items-center border-2 border-t-0 md:border-t-2 md:border-l-0 md:border-r-0 md:h-32  md:justify-center">
					<lable class="ml-3 text-lg font-serif md:hidden "> Product :  </lable>
					<p class="mr-3 text-blue-500 ">titre</p>
				</div>
				<div class="w-11/12 h-14 flex justify-between items-center border-2 border-t-0 md:border-t-2 md:border-r-0 md:justify-center md:w-8/12 md:h-32">
					<lable class="ml-3 text-lg font-serif md:hidden"> Price : </lable>
					<p class="mr-3 ">titre</p>
				</div>
				<div class="w-11/12 h-14 flex justify-between items-center border-2 border-t-0 md:border-t-2 md:border-r-0 md:justify-center md:h-32 ">
					<label class="ml-3 font-serif text-lg md:hidden"> Quantity :</label>
					<div  class="flex  lg:mr-0 mr-8  "> 
						<button class="border-2 w-10 h-10 ">+</button>
						<input type="text" class="w-10 border-2 border-l-0 border-r-0 text-center" value="5">
						<button class="w-10 border-2">-</button>
					</div>
				</div>
				<div class="w-11/12 h-14 flex justify-between items-center border-2 border-t-0 md:border-t-2 md:justify-center md:w-8/12 md:h-32">
					<lable class="ml-3 text-lg font-serif md:hidden"> subtotal : </lable>
					<p class="mr-3 ">titre</p>
				</div>
			</article>
			<article class="border-2 h-14 w-11/12   md:ml-0  border-t-0 flex justify-between "> 
				<button class="ml-3 bg-orange-500 w-32 mt-2 mb-3 rounded-md"> on </button>
				<button class="mr-3 bg-orange-500 w-32 mt-2 mb-3 rounded-md"> va </button>
			</article>
		</section>
		<section class=" mr-troix mt-8 md:w-2/5 w-11/12">
		<h1 class="text-4xl font-serif "> Cart totals </h1>
			<article class="">
				<table class="table-auto  w-full text-lg font-serif">
				  <thead >
				    <tr>
				      <!-- <th></th> -->
				      <!-- <th></th> -->
				    </tr>
				  </thead >
				  <tbody class="border-2">
				    <tr class="border-2">
				      <td class="w-8/12">Subtotal</td>
				      <td>$3333</td>
				      
				    </tr>
				    <tr class="border-2">
				      <td>Shipping</td>
				      <td>Free shipping <br> Shipping to Morocco</td>
				    </tr>
				    <tr>
				      <td>Total</td>
				      <td>$333</td>
				    </tr>
				  </tbody>
				</table>
				<button class="bg-orange-500 w-full h-10 mt-3 rounded-md"> c </button>
			</article>
		</section>
	</main>
	<footer>
	</footer>
	<script>
	function fermepanier(){
		document.getElementById('panierid').classList.add("hidden")
	}

	localStorage.setItem("nam","hamza");
	localStorage.setItem("age","200");
	localStorage.setItem("salary","10");
	localStorage.removeItem("nam");
	localStorage.clear();
	var produit = {
		"id": 17,
			"title": "Fossil Women's Jacqueline Leather Watch",
			"price": 109.99
		}
		
	localStorage.setItem("${1}",produit);



	
	</script>
</body>
<html>