<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="../assets/css/global.css">
</head>
<body>
	
	<header class="bg-white shadow-md" >
		<div class="container mx-auto flex items-center justify-between p-4">

          <div class="flex items-center md:ml-32">
              <img src="../assets/images/magana images/MA-removebg-preview.png" alt="Logo" class="h-20 w-20">
            </div>
    
         
          <nav class="hidden md:flex space-x-16 mx-52">
            <a href="/index.html" class="text-gray-800 hover:text-gray-600">Home</a>
            <a href="/views/catalogue.html" class="text-gray-800 hover:text-gray-600">Catalogue</a>
            <a href="./about.html" class="text-gray-800 hover:text-gray-600">About</a>
            <a href="./panier.html" class="text-orange-500 text-2xl">
              <img src="../assets/images/magana images/shopping-cart (1).png" alt="icon1" class="w-6 h-6">
            </a>  
          </nav>
    
          <button id="menu-btn" class="md:hidden text-gray-800 focus:outline-none">
            <div class="flex gap-10 ">
                <a href="#" class="text-orange-500 text-2xl">
                    <img src="../assets/images/magana images/shopping-cart (1).png" alt="icon1" class="w-6 h-6">
                  </a>  
                <a href="#" class="text-gray-800 text-2xl">
                    <img src="../assets/images/magana images/burger-bar (1).png" alt="icon1" class="w-6 h-6">
                  </a>  
                 
            </div>
             
          </button>
        </div>
    
  
        <div id="mobile-menu" class="hidden md:hidden bg-white border-t border-gray-200">
			<a href="/index.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Home</a>
			<a href="/views/catalogue.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Catalogue</a>
			<a href="/views/about.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">About</a>
		  </div>
      </header>
	<main class=" mx-auto w-10/12 my-12">
		<section id="Formulaire" class="hidden">
			<div class="container mx-auto p4-10">
				<div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-xl">
					<div class="md:flex">
						<div class="w-full px-6 py-8 md:p-8">
							<h2 class="text-2xl font-bold text-gray-800">Checkout</h2>
							<p class="mt-4 text-gray-600">Please fill out the form below to complete your purchase.</p>
							<form class="mt-6">
								<div class="mb-6">
									<label class="block text-gray-800 font-bold mb-2" for="name" id="nameid">
										Name
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="John Doe">
								</div>
								<div class="mb-6">
									<label class="block text-gray-800 font-bold mb-2" for="email" id="emailid">
										Email
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="johndoe@example.com">
								</div>
								<div class="mb-6">
									<label class="block text-gray-800 font-bold mb-2" for="card_number" id="rib">
										Card Number
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="card_number" type="text" placeholder="**** **** **** 1234">
								</div>
								<div class="mb-6">
									<label class="block text-gray-800 font-bold mb-2" for="expiration_date" id="expiration_date">
										Expiration Date
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="expiration_date" type="text" placeholder="MM / YY">
								</div>
								<div class="mb-6">
									<label class="block text-gray-800 font-bold mb-2" for="cvv" id="cvv">
										CVV
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cvv" type="text" placeholder="***">
								</div>
								<!-- <button   class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
									Submit
								</button> -->

								<a href="/views/devis.html">Submit</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section  id="containermain">

		
		<p id="message"></p>
		
		<section class="w-80 h-lvh bg-white fixed right-0 top-0  flex flex-col items-center" 
		id="panierid">
			<div class="flex justify-between w-11/12 mt-2   h-14 items-center">
				<label> Shopping cart</label>
				<button onclick="fermepanier()"> X</button>
			</div>
			<article class="flex w-full mb-10 flex-col overflow-y-auto" id="panier1">
				
			</article>
			<article class="w-11/12" id="panier1button">

			</article>
		</section>
		<section class="flex md:flex-col  flex-col justify-center items-center" id="page1">

		</section>
		<section class=" mr-troix mt-8 md:w-2/5 w-11/12" id="cartTotals">
		<h1 class="text-4xl font-serif "> Cart totals </h1>
			<article class="">
				<table class="table-auto  w-full text-lg font-serif">
				  <thead >
				    <tr>
				    </tr>
				  </thead >
				  <tbody class="border-2">
				    <tr class="border-2">
				      <td class="w-8/12">Subtotal</td>
				      <td id="Subtotalprice">$3333</td>
				      
				    </tr>
				    <tr class="border-2">
				      <td>Shipping</td>
				      <td>Free shipping <br> Shipping to Morocco</td>
				    </tr>
				    <tr>
				      <td>Total</td>
				      <td id="totalprice">$333</td>
				    </tr>
				  </tbody>
				</table>
				<button class="bg-orange-500 w-full h-10 mt-3 rounded-md"  onclick=" payment()"> Check out </button>
			</article>
		</section>
	</section>
	</main>
	<footer class="bg-gray-900 text-center py-6">
        <div class="flex  flex-row justify-center space-x-6 items-center space-y-4 space-y-0 mb-4">
            <a href="#" class="text-orange-500 text-2xl">
                <img src="../assets/images/magana images/twitter (1).png" alt="icon1" class="w-6 h-6 mt-4">
            </a>
            <a href="#" class="text-orange-500 text-2xl">
                <img src="../assets/images/magana images/facebook (1).png" alt="icon2" class="w-6 h-6">
            </a>
            <a href="#" class="text-orange-500 text-2xl">
                <img src="../assets/images/magana images/instagram.png" alt="icon3" class="w-6 h-6">
            </a>
            <a href="#" class="text-orange-500 text-2xl">
                <img src="../assets/images/magana images/mail.png" alt="icon4" class="w-6 h-6">
            </a>
        </div>
        <p class="text-gray-500">Copyright ©2024 All rights reserved</p>
    </footer>
	<script src="./../assets/js/panier.js"></script>

</body>

<html>