/*.ml-26px{margin-left: 21px;}*/
/*.w-91vw{width: 91.66666%;}*/
.mr-troix{ margin-left: 50%;}
@media screen  and (max-width : 760px){
	.mr-troix{	margin-left: 4%;}}
    
    #ads::-webkit-scrollbar{
        display: none;
        }

        .img1{
            position: relative;
            ;
        }